extends layout
block content
  h1=title
  form(method='POST')
    div.form-group
      label(for='s_gallery') Select gallery:
      select#s_gallery.form-control(name='s_gallery' required onchange="if(this.value != 0) { this.form.submit(); }")
        for gallery in galleries
          option(value=gallery._id) #{gallery.name}
  if images.length
    each image in images
      div.container
        h2 #{image.name}
        a Description: #{image.description}
        img.img-responsive(src=image.path alt=image.path style='height:200px; display:block; ')
  else
    p There are no any images.
  if errors
    ul
      for error in errors
        li!= error.msg
